@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy/Gilroy-Bold.woff2) format('woff2'), url(../fonts/Gilroy/Gilroy-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy/Gilroy-Regular.woff2) format('woff2'), url(../fonts/Gilroy/Gilroy-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy/Gilroy-SemiBold.woff2) format('woff2'), url(../fonts/Gilroy/Gilroy-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal
}